body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;  
    background-color:pink; 
}

.hero {
    background-color:pink; ;
    overflow: hidden;

}

.heading h1 {
    color: rgb(254, 132, 168);
    font-size: 55px;
    text-align: center;
    margin-top: 30px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 65px auto;
    padding: 30px auto;
}

.hero-content {
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;

}

.hero-content h2 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;

}

.cta-button {
    display: inline-block;
  margin-top: 1rem;
  font-size: 1.7rem;
  padding: 0.8rem 3rem;
  cursor: pointer;
  background: none;
  text-decoration: none;
  color: #fff;
  text-align: center;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  border-radius: 30px;
  transition: 0.5s;
}

.cta-button:hover {
    outline: 0;
    box-shadow: 0 0 10px 3px #e094bf;
    transition: 0.5s;
}

.hero-content p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;

}

.hero-image {
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}

img {
    width: 550px;
    height: auto;
    border-radius: 10px;

}

.our-featurs {
    font-size: 50px;
    color: #e67300;
    text-align: center;
    margin-top: 50px;
}
.featurs-card {
    width: 300px;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    background-color: #ebf9f2;
    position: relative;
    transition: 0.5s;
}
.featurs-card:hover{
    transform: translateY(-15px);
}
.feature-img{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    height: 300px;
}

.feature-titel {
    text-align: center;
    color: #e67300;
    font-size: 20px;
}

.feature-discription {
    text-align: center;
    color: black;
}

.feature-continer {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    flex-wrap: wrap;
}

@media screen and (max-width:768px) {
    .heading h1 {
        font-size: 45px;
        margin-top: 30px;
    }

    .hero {
        margin: 0px;

    }

    .container {
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }

    .hero-conte {
        width: 100%;
        margin: 35px 0px;
    }

    .hero-conte h2 {
        font-size: 30px;
    }

    .hero-conte p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .cta-button {
        font-size: 16px;
        padding: 8px 16px;
    }

    .hero-image {
        width: 100%;
    }
}

/*Start team */
section {
  padding: 50px 8%;
}
.team {
  margin-top: 10px;
}
.team-title h1 {
  font-size: 50px;
  color: rgb(167, 29, 29);
  text-align: center;
  position: relative;
}
.team-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 50px 10px;
}
.team-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.9);
  margin: 20px 10px;
  padding: 10px;
  width: 250px;
  height: 400px;
  text-align: center;
}
.team-card:hover {
  transform: translateY(-10px);
  transition: .5s;
}
.team-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.s-icon {
  font-size: 30px;
  margin: 10px 5px;
  background: #343434;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
}
.team-detail h3 {
  color: black;
  font-size: 25px;
  margin: 15px 0;
}
.team-detail p {
  color: #666;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .team-cards {
    display: flex;
    flex-direction: column;
  }
  .team-card {
    width: 250px;
    margin: 25px auto;
  }
}

      /*End team */