/* .wedding-card{
    height: 400px;
    width: 300px;
    border: solid brown 1px;
    border-radius: 20px 20px 20px 20px; 
    display: inline-block;
    margin-left: 120px;
    margin-right: -13px;
    margin-top: 30px;
   }

   .wedding-img{
      border-radius: 20px 20px 0px 0px; 
      height: 300px;
      width: 300px;
   }

   @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
     .couple-name{
    margin-left: 50px;
    font-family: 'Dancing Script', cursive;
    color: brown;
    font-size: 25px;
  
   }  */

    .body_bg{
       background-color: #ff6666; 
        /*    background-color: #800000; 
      background-color: #e68a00; 
      background-color:#cc3300; 
      background-color: #e68a00; */
      
      
    }

   .wedding-card-row1{
      height: 200px;
      width: 250px;
      display: inline-flex;
      background-color: aquamarine;
      color: black;
      border: 1px solid white;
      border-radius: 20px; 
      margin-top: 200px;
      margin-left: 120px;
      margin-right: -100px;
      }

      .wedding-card-row1:hover{
         box-shadow: 0 0 5px 10px #ff3333 ;
          transition: 0.9s;
      }

    .wedding-img{
   /*  border-radius: 20px 20px 0px 0px; */
    }

  
    .wedding-card-row2{
      height: 200px;
      width: 250px;
      display: inline-flex;
      background-color: aquamarine;
      color: black;
      border: 1px solid #992600;
      border-radius: 20px; 
      margin-top: 170px;
      margin-left: 120px;
      margin-right: -100px;
      margin-top: 30px;
    }

    .wedding-card-row2:hover{
      box-shadow: 0 0 5px 10px #ff3333 ;
      transition: 0.9s;
    }

    .wedding_patrika{
      width:100%;
      border-radius: 20px;
    }