

/*Start Home Section */
section {
  padding: 3rem 8%;
}
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(./../images/bodyBG.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home .content span {
  font-size: 3rem;
  color: rgb(167, 29, 29);
}
.home .content h3 {
  font-size: 6rem;
  width: 60rem;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.7rem;
  padding: 0.8rem 3rem;
  cursor: pointer;
  background: none;
  text-decoration: none;
  color: #fff;
  text-align: center;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  border-radius: 30px;
  transition: 0.5s;
}
.btn:hover {
  outline: 0;
  box-shadow: 0 0 10px 3px #e094bf;
  transition: 0.5s;
}

/*End Home Section */
.step-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.step-container .step {
  background: #fff;
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
  text-align: center;
  flex: 1 1 20rem;
}
.step-container .step span {
  font-size: 7rem;
  color: red;
  font-weight: bolder;
}
.step-container .step h3 {
  font-size: 2rem;
  color: black;
}
.step-container .step p {
  font-size: 1.4rem;
  color: #666;
  font-weight: bolder;
  padding: 1rem 0;
}

/* step */

/*contact section */

/* start contact section */
