

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  background-color: pink;
}

.decorative-heading{
    margin-top: 120px;
    font-size: 45px;
    text-align: center;
    color: rgb(0, 0, 0);

}
.heading{
    background-color: rgb(255, 255, 255);
    font-family: 'Style Script';
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.tab-background {
    background-color: rgb(255, 255, 255);
    color:  rgb(0, 0, 0);

}
.abc{
    background-color: pink;
}
.package-card{
    display: flex;
    justify-content: space-around;
    
}
.package {
    text-align: center;
    border: 2px solid #f3c1c6; 
    padding: 20px;
    width: 200px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #980000;
    border-radius: 20px;
    color: black;
    background-color: #ffffff;
}
.package:hover{

    box-shadow: 0 0 10px 3px #e094bf;
    transition: 0.5s;
}
.price{
    background-color: rgb(255, 255, 255);
    animation: blink 2s linear infinite;
    color: rgb(236, 78, 105);
    font-family: 'Anton', sans-serif;;
}
@keyframes blink{
  50%{
    opacity: 0;
  }
}
.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 40px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 12px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
  box-shadow: 0 0 10px 3px #e094bf;
  transition: 0.5s;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}
.blink{
  animation: blink 2s linear infinite;
  color: blueviolet;
}
@keyframes bkink{
  50%{
    opacity: 0;
  }
}




.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  padding: 20px 20px;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  backdrop-filter: blur(50px);
  z-index: -1;
}
.logo {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.navbar a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
}
#check {
  display: none;
}
.menu-bar {
  font-size: 50px;
  color: #fff;
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1325px){
  .menu-bar {
    display: inline-flex;
  }
  #check:checked ~ .menu-bar #menu-icon {
    display: none;
  }
  .menu-bar #close-icon {
    display: none;
  }
  #check:checked ~ .menu-bar #close-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(135deg, #f34079 40%, #fc894d);
    overflow: hidden;
    transition: .3s ease;
  }
  #check:checked ~ .navbar {
    height: 500px;
  }
  .navbar a {
    display: block;
    font-size: 35px;
    margin: 20px 0;
    text-align: center;   
  }
}







