body{
    padding: 0%;
    margin: 0%;
}

.heading-service{
    text-align: center;
    padding-bottom: 2px;
    text-transform: uppercase;
    
}
.heading-service span{
    text-transform: uppercase;
    color:;
}

.box_container{
    display:flex;
    background:rgb(242, 141, 158)
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    
}

.image{

   box-shadow:2px 2px 2px 2px #acacac;
   border-radius: 15px;
    height: 300px;
    width: 300px;
    
    
}
.h2{
    font-size: medium;
    color: black;
}

.btn{
    margin-bottom:10px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(123, 4, 79);
    border: 1px rgb(42, 1, 42) double;
    box-shadow:0px 0px 2px 2px rgb(187, 27, 187);
}








