/*
colors:
rgb(21, 12, 104);
 rgb(236, 68, 90);
 #fff;
 #000;
 lightgray;
 yellow;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: pink;
}
/* Start Header Section */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  backdrop-filter: blur(50px);
  z-index: -1;
}
.logo {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.navbar a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
}
#check {
  display: none;
}
.menu-bar {
  font-size: 50px;
  color: #fff;
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1325px) {
  .menu-bar {
    display: inline-flex;
  }
  #check:checked ~ .menu-bar #menu-icon {
    display: none;
  }
  .menu-bar #close-icon {
    display: none;
  }
  #check:checked ~ .menu-bar #close-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(135deg, #f34079 40%, #fc894d);
    overflow: hidden;
    transition: .3s ease;
  }
  #check:checked ~ .navbar {
    height: 500px;
  }
  .navbar a {
    display: block;
    font-size: 35px;
    margin: 20px 0;
    text-align: center;   
  }
}

/*End Header Section */