/*
colors:
rgb(21, 12, 104);
 rgb(236, 68, 90);
 #fff;
 #000;
 lightgray;
 yellow;
*/
.heading {
    margin-left: 600px;
    background-color: hotpink ;
    color: black;
    width: 90px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}



     