* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: pink;
}

      /* Start Header Section */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  backdrop-filter: blur(50px);
  z-index: -1;
}
.header img {
  width: 200px;
  height: 40px;
  margin-left: 20px;
}

.navbar a {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
}
#check {
  display: none;
}
.menu-bar {
  font-size: 50px;
  color: #fff;
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1325px) {
  .menu-bar {
    display: inline-flex;
  }
  #check:checked ~ .menu-bar #menu-icon {
    display: none;
  }
  .menu-bar #close-icon {
    display: none;
  }
  #check:checked ~ .menu-bar #close-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(135deg, #f34079 40%, #fc894d);
    overflow: hidden;
    transition: 0.3s ease;
  }
  #check:checked ~ .navbar {
    height: 500px;
  }
  .navbar a {
    display: block;
    font-size: 35px;
    margin: 20px 0;
    text-align: center;
  }
}

      /*End Header Section */

      /*Start Footer */

      footer {
        background: #343434;
        padding-top: 50px;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
      }
      .footer-container {
        margin: auto;
        display: flex;
        justify-content: space-around;
      }
      
      .footer-content h3 {
        font-size: 28px;
        margin-bottom: 15px;
        border-bottom: 1px solid #f18930;
        text-align: center;
      }
      .footer-content p {
        width: 190px;
        margin: auto;
        padding: 7px;
      }
      .footer-content ul {
        text-align: center;
      }
      .footer-content .list {
        padding: 0;
      }
      .footer-content .list li {
        width: auto;
        text-align: center;
        list-style-type: none;
        padding: 7px;
        
      }
  
      .footer-social-icons {
        text-align: center;
        padding: 0;
      }
      .footer-social-icons li {
        display: inline-block;
        text-align: center;
        padding: 5px;
      }
      .footer-social-icons i {
        color: white;
        font-size: 35px;

      }
      .footer-content a {
        text-decoration: none;
        color: #fff;
      }
      .footer-content a:hover {
        color: #f18930;
      }
      .footer-social-icons i:hover {
        color: #f18930;
      }
      .footer-bottom {
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;
      }
      .footer-bottom p {
        color: #fff;
        margin: 0;
        font-size: 16px;
        padding: 7px;
      }
      .footer-bottom .bxs-heart {
          color: red;
          font-size: 20px;
      }
      @media  (max-width: 540px) {
          .footer-container {
              display: grid;
              margin: auto;
          }
          .footer-content h3 {
              font-size: 30px;
              margin-top: 30px;
          }
      }

      /* End Footer */

      
