@media screen and (min-width:601px) and (max-width:768px) {
  .t-card{
   flex-wrap: wrap;
   justify-content: space-around;
   margin-top: auto;
 }
 
  .t-card-content{
   margin: auto;
   width: auto;
  }
 }
 
 @media  screen and (max-width:600px)
 {
    .website_title{
     font-size:20px;
     text-align: center;
   }  
 
   .t-card{
     justify-content: center;
     /* margin-right:auto; */
   }
   .t-card-content p{
     text-align: center;
   }
 }
 
 @media  screen and (min-width:133px) {
  .website_title{
   font-size: 10px;
   text-align: center;
  }
 
  .t-card{
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
 
  .t-card-content{
    margin: auto;
    width: auto;
  }
 }
 
 
 
 
 body {
   background-color: pink;
 }
 .t-title {
   font-size: 40px;
   text-align: center;
   color: #e6004c;
   margin-top: 70px;
 }
 .t-container {
   background-color: #ff4d4d;
   color: #fff;
   height: 60vh;
   margin-top: 20px;
 }
 .upper {
   text-align: center;
 }
 .upper h3 {
   font-size: 30px;
   font-weight: 600;
   padding-top: 20px;
 }
 .upper p {
   padding: 5px 100px;
   font-size: 20px;
   font-weight: 500;
 }
 .lower {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   background-color: black;
   color: white;
   height: 200px;
   margin-top: 50px;
 }
 .lower .n1 {
   margin-bottom: 20px;
   text-align: center;
 }
 .lower .n1 p {
   font-size: 50px;
   font-weight: 700;
 }
 .lower .n1 .t1 {
   font-size: 20px;
   font-weight: 800;
 }
 .lower .n1 .rate-1 {
   color: red;
 }
 .lower .n1 .rate-2 {
   color: yellow;
 }
 .lower .n1 .rate-3 {
   color: skyblue;
 }
 .lower .n1 .rate-4 {
   color: blue;
 }
 .lower .n1 span {
   font-size: 30px;
 }
 @media screen and (max-width: 1000px) {
   .t-container {
     height: 140vh;
   }
   .upper p {
     font-size: 20px;
     padding: 0;
   }
   .lower {
     height: auto;
     display: flex;
     flex-direction: column;
     margin-top: 20px;
     margin-bottom: 20px;
   }
   }
 
   .t-card {
     display: flex;
     margin-top: 4rem;
   }
   
   .t-card-content {
     background: #fff;
     margin: 1rem;
     padding: 2rem;
     border-radius: 0.5rem;
     box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
     text-align: center;
     flex: 1 1 20rem;
   }
   
   
   .img {
     width: 300px;
   }
   
   .mid_img{
     height: 200px;
     width: 300px;
   }
