@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.heading {
   text-align: center;
   padding-top: 20px;
   font-weight: 700;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-decoration: none;
   font-style: normal;
   font-size: 40px;
   color: #e6004c;
}
.venu-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.img-1 {
   width: 100%;
   margin-top: 5%;
   height: 200px;
   border-radius: 20px;
    
}
 .cards {
  background: #fff;
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
  text-align: center;
  flex: 1 1 20rem;

 }

 .hedding-1 {
    text-align: center;
    color: #e6004c;
    font-family: 'Lora', serif;
    padding-top: 10px;
 }
 .desc-1 {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: monospace;
    padding-top: 15px;
 }
 .button-1 {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.2rem;
  padding: 0.8rem 3rem;
  cursor: pointer;
  background: none;
  text-decoration: none;
  color: #fff;
  text-align: center;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  border-radius: 30px;
  transition: 0.5s;
  border: none;

 }
 .button-1:hover {
  outline: 0;
  box-shadow: 0 0 10px 3px #e094bf;
  transition: 0.5s;
    
 }
 .cards:hover {
   transform: translateY(-15px);
   transition: 0.5s;
 }
 .card {
   margin-bottom: 20px;
   margin-top: 20px;
 }
  @media screen and (min-width:300px) and (max-width:600px){
   .hedding-1 {
      text-align: center;
      font-size: 25px;
   }
   }
   @media screen and (min-width:300px) and (max-width:600px){
      .desc-1 {
         font-size: 20px;
      }
   }
   @media screen and (min-width:300px) and (max-width:600px){
      .button-1 {
         display: block;
         margin: 5px auto;
         font-weight: 200;
         font-family: Arial, Helvetica, sans-serif;
         text-align: center;
      }
   }
    .venu {
      background-color:pink; ;
      overflow: hidden;
    }  
    
    