@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.heading {
   text-align: center;
   margin-top: 30px;
   padding-top: 50px;
   font-weight: 700;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-decoration: none;
   font-style: normal;
   font-size: 40px;
   color: #e6004c;
}
.venu-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
 

}
.img-1 {
   width: 80%;
   margin-left: 10%;
   margin-top: 5%;
   height: 200px;
   border-radius: 20px;
    
}
 .cards {
    width: 350px;
    box-shadow: 0 0 2px 2px gray;
    border-radius: 30px;
    background-color: #fff0e6;
    position: relative;
 }

 .hedding-1 {
    text-align: center;
    color: #e6004c;
    font-family: 'Lora', serif;
    padding-top: 10px;
 }
 .desc-1 {
    text-align: center;
    color: #751aff;
    font-size: 20px;
    font-family: monospace;
    padding-top: 15px;
 }
 .button-1 {
  display: inline-block;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  padding: 0.8rem 3rem;
  cursor: pointer;
  background: none;
  text-decoration: none;
  color: #fff;
  text-align: center;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  border-radius: 30px;
  transition: 0.5s;

 }
 .button-1:hover {
  outline: 0;
  box-shadow: 0 0 10px 3px #e094bf;
  transition: 0.5s;
    
 }
 .cards:hover {
   transform: translateY(-15px);
   transition: 0.5s;
 }
 .card {
   margin-bottom: 20px;
   margin-top: 20px;
 }
  @media screen and (min-width:300px) and (max-width:600px){
   .hedding-1 {
      text-align: center;
      font-size: 25px;
   }
   }
   @media screen and (min-width:300px) and (max-width:600px){
      .desc-1 {
         font-size: 20px;
      }
   }
   @media screen and (min-width:300px) and (max-width:600px){
      .button-1 {
         display: block;
         margin: 5px auto;
         font-weight: 200;
         font-family: Arial, Helvetica, sans-serif;
         text-align: center;
      }
   }
   .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 20px;
      background: linear-gradient(135deg, #f34079 40%, #fc894d);
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
    }
    .header::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, #f34079 40%, #fc894d);
      backdrop-filter: blur(50px);
      z-index: -1;
    }
    .logo {
      font-size: 30px;
      color: #fff;
      text-decoration: none;
      font-weight: 700;
    }
    .navbar a {
      font-size: 30px;
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      margin-left: 20px;
    }
    #check {
      display: none;
    }
    .menu-bar {
      font-size: 50px;
      color: #fff;
      position: absolute;
      right: 20px;
      cursor: pointer;
      display: none;
    }
  
    @media (max-width: 1325px) {
      .menu-bar {
        display: inline-flex;
      }
      #check:checked ~ .menu-bar #menu-icon {
        display: none;
      }
      .menu-bar #close-icon {
        display: none;
      }
      #check:checked ~ .menu-bar #close-icon {
        display: block;
      }
      .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: linear-gradient(135deg, #f34079 40%, #fc894d);
        overflow: hidden;
        transition: .3s ease;
      }
      #check:checked ~ .navbar {
        height: 500px;
      }
      .navbar a {
        display: block;
        font-size: 35px;
        margin: 20px 0;
        text-align: center;   
      }
    }
    .venu {
      background-color:pink; ;
      overflow: hidden;
    }  
    